<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>$('body').addClass('thanks');</script>
<header class="thanks-header">
  <div class="container">
    <h1>Thanks so much for helping GROW New Covenant School!</h1>
  </div>
</header>

<div class="container thanks-details">
  <div class="details">&larr; <a href="/">Click here to see the whole fundraiser with your amount taken!</a></p>
</div>