html,
body {
  font-family: "Alegreya Sans", "Lucidia Sans", Arial, sans-serif;
  height: 100%;
}

body {
  margin: 0;
  background-color: white;
}

header.main-header {
  bottom: 0;
  padding: 60px 0;
  color: #00a5a5;
  position: relative;
}

header.main-header .row .left,
header.main-header .row .right {
  display: inline-block;
  vertical-align: middle;
}

header img {
  max-height: 500px;
  padding: 2em;
}

.row .left {
  font-size: 200px;
  font-family: "sans-serif";
}

.row {
  position: relative;
  z-index: 1;
  max-width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h1 {
  font-size: 56px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 30px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 0 30px;

  flex-basis: 100%;
}

.description {
  max-width: 700px;
  margin: 0 auto;
  font-size: 21px;

  line-height: 28px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 0 40px;

  flex: 1;
  min-width: 400px;
}

.donate-header {
  color: #fff;
  text-align: center;
  font-weight: 900;
  font-size: 40px;
  letter-spacing: 8px;
  background: #00a5a5;
  padding: 20px 0;
  margin: 0;
}

.bigbox {
  max-width: 1184px;
  margin: 0 auto;
  font-size: 0;
  background: url("/img/jump2021.jpg") no-repeat;
  background-size: cover;
  color: #00a5a5;
}

header .row:before,
.bigbox:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.giftbox {
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  width: 20%;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  height: 85px;
}

.giftbox:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.giftbox:hover {
  cursor: pointer;
  background: #d9f2f2;
}

.vertical-aligned {
  display: inline-block;
  vertical-align: middle;
}

.complete {
  background: none;
  font-weight: normal;
  font-style: normal;
  font-size: 32px !important;
  color: #fff;
  /*text-shadow: 0 0 8px rgba(0,0,0,.25);*/
}

.complete:hover {
  background: none;
  cursor: default;
}

.donation-button {
  border: none;
  background: none;
  display: block;
  width: 100%;
}

.donation-button:active {
  background: #c2eaea;
}

.donation-button:focus {
  outline: none;
}

p.gracias {
  font-size: 1.5em;
}

.footer {
  border-top: 1px solid #c0c0c0;
  padding: 1em 0;
  margin: 1.5em 0 0 0;
  width: 100%;
}

h3.offer {
  font-family: "din-condensed-web", sans-serif;
  color: #ef5123;
}

.video-container-container {
  max-width: 700px;
  margin: 0 auto;

  flex: 1;
  padding: 20px 40px;
  min-width: 400px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0px;
  overflow: hidden;
  margin: 0 auto;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.thanks,
.goal {
  background: #eee;
}

.thanks-header {
  background: url("/img/treepattern.jpg");
  width: 100%;
  padding-top: 100px;
  margin-bottom: 100px;
}

.thanks-header h1 {
  background: #fff;
  padding: 30px;
  font-size: 45px;
  color: green;
  margin: 0 auto -60px;
  width: 80%;
  text-shadow: none;
  border: 10px solid green;
  border-radius: 15px;
  max-width: 600px;
}

.thanks-details {
  background: #fff;
  padding: 35px 30px 30px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  max-width: 800px;
}

.donation-message {
  font-size: 26px;
  text-align: center;
  font-weight: 600;
  padding-bottom: 30px;
  margin: 0 auto 30px;
  border-bottom: 1px solid #eee;
}

.donation-total,
.your-donation {
  color: green;
  font-weight: 800;
}

.goal-container {
  background: url("/img/treepattern.jpg");
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goal-details {
  width: auto;
  background: #fff;
  padding: 35px 60px 30px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.goal-numbers-totals {
  font-weight: 400;
  text-shadow: none;
  font-size: 60px;
}

.goal-numbers {
  display: inline-block;
  margin-right: 20px;
  color: green;
  font-weight: 800;
  font-size: 70px;
}

.goal-numbers:last-child {
  margin-right: 0;
  margin-left: 20px;
}

.flex-item {
  padding: 10px 0;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
}

.details {
  font-size: 18px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 65px;
  }

  h1 span {
    display: block;
  }

  .giftbox {
    width: 25%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 50px;
  }

  h1 span {
    display: block;
  }

  header {
    background-position: 50% 0;
  }

  .giftbox {
    width: 33.33%;
    font-size: 40px;
  }

  .donation-button {
    padding: 30px;
  }
}
